<html>
	<head>
		<title>Next Season</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" href="/theme/favicon.ico">
		
		<script src="lib/jquery/jquery.min.js"></script>
		<script src="lib/angular.min.js"></script>
		<script src="lib/color-thief.min.js"></script>
		<script src="lib/tinycolor.min.js"></script>
		<script src="lib/jquery/jquery-ui.min.js"></script>
		<script src="js/config.js"></script>
		<script src="js/app.js"></script>
		<script src="lib/moment.min.js"></script>

		<link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="theme/css/layout.css">
		
		
	</head>
	<body>
		

		<main ng-app="nextseason">
			<article ng-controller="upcoming" class="type-system-serif">
				<header>
					<!-- <a class="logo" href="/">
						<img src="../theme/logo.svg" alt="logo" />
					</a> -->
					<h1>Next Season</h1>
					<div class="heyo-whats-this">
						<a href="" ng-click="showAbout = !showAbout">About</a>
					</div>
				</header>

				<p style="margin-top: 3em">
					<strong>Note: this service is no longer updated</strong>	
				</p>
				<p>
					As of February 2017, imdb no longer provides the data needed to run this service, namely the release dates of tv show episodes and seasons. I have left the last available data here for posterity.
				</p>
				<hr>

				

				<div class="about" ng-if="showAbout">
					<p>Next Season is a little website which tells you when your favourite shows are returning.</p>
					<p>
						<em>Project links:</em>
						<ul class="default">
							<li><a href="https://github.com/IgorNadj/nextseason-parser">Parser on github</a></li>
							<li><a href="https://github.com/IgorNadj/nextseason-web">This website on github</a></li>
						</ul>
					</p>
					<p>
						Data updated {{exportTime}}
					</p>
					<hr/>
				</div>
				
				<div class="content"">
					<table>
						<tbody>
							<tr class='show' ng-repeat="show in shows | orderBy: 'name'">
								<td>
									<span class="show-name">{{show.name}}</span>
								</td>
								<td>
									<div class="info">
										Season 
										<span class="season-number">{{show.season_number}}</span>
										<span ng-if="show.returnsSoon">
											returns 
											<span class="when-returns">
												{{show.earliestReleaseDateAbsoluteString}}
											</span>
										</span>
										<span ng-if="!show.returnsSoon" title="{{show.earliestReleaseDateAbsoluteString}}">
											returns in 
											<span class="when-returns">
												{{show.earliestReleaseDateRelativeString}}
											</span>
										</span>
									</div>
								</td>
								<td>
									<div class="links">
										<a class="show-link" href="https://www.themoviedb.org/tv/{{show.tmdbId}}">tmdb</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</article>

		</main>
		<footer></footer>
	</body>
</html>
