@import 'bourbon/bourbon';
@import 'base/grid-settings';
@import 'neat/neat';
@import 'base/base';

@import 'refills/button-group';
@import 'refills/article-type-serif';
@import 'refills/search-bar';



$green: rgb(210, 254, 203);
$blue: #CBEFFE;
$logo-bg: #E6E6E6;
$logo-bg-hover: #a9efff;



header{
	border-bottom: 3px solid $blue;
	h1, .logo { display: inline-block; vertical-align: top; }
	.logo { 
		img {
			width: 2em;
			height: 2em;
			border-radius: 2em;
			background-color: $logo-bg;
			border: 3px solid $logo-bg;
			box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
			margin-top: 0.1em; 
			margin-right: 0.4em;


			&:hover {
				background-color: $logo-bg-hover;
				border-color: $logo-bg-hover;
				box-shadow: 0 0 2px 2px $logo-bg-hover; 
			}

			@media screen and (min-width: 600px) {
				// same breakpoint as h1
				width: 2.5em;
				height: 2.5em;
				border-radius: 2.5em;
				margin-top: 0.2em; 
				margin-right: 0.6em;

			}
		}
	}

}

article {
	@include outer-container;
	padding: $base-spacing;
	@include media($large-screen-up){
		padding-right: 100px; // move left slightly, smaller than max witdth for readability
	}
	
	h3 { text-transform: uppercase; }

	.heyo-whats-this {
		@media screen and (min-width: 600px) {
			float: right;
			margin-top: 1.3em;
		}
	}



	&.type-system-serif hr { width: auto; }

	.about {
		padding: $small-spacing 0;
		ul { @extend %default-ul; }
	}

	.content { 
		@include outer-container;
		margin-top: 2em;
		@media screen and (min-width: 600px) {
			margin-top: 4em;
		}

		.show {

			border-bottom: 1px solid rgba(0,0,0,0.1);

			padding: $small-spacing; 

			.season-number, .when-returns {
				font-size: 1.15em;
				font-weight: bold;
			}
		}

		table {
			table-layout: auto;
		}

		.links {
			display: none;
			text-align: right;
			@media screen and (min-width: 600px) {
				display: block;
			}
		}

	}

}

.loading-indicator {
	padding: $base-spacing;
	text-align: center;
	clear: both;
}